version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: postgress #${DATABASE_NAME} #or recallserver
      POSTGRES_USER: postgres #${DATABASE_USER} #or comon
      POSTGRES_PASSWORD: postgres #${DATABASE_PASSWORD} #password
    volumes:
      - npgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  npgdata:
